.mainpage{
     position: absolute;
     margin: 0;
     padding: 0;
     width: 100vw;
     height: 100vh;
     background-color: #d8dee9;
     align-items: center;
     justify-content: center;
 }
.header .name{
     float: left;
     color: #d18677; 
     font-size: 2.5rem;
     font-family: 'Oswald', sans-serif;
}
.header .icons{
     float: right; 
}
.header .button{
     margin: 5px;
     border: none;
     padding: 10px;
     border-radius: 50%;
     background-color: #d18677;
}
 
.logo{
     margin-left: 37%;
     margin-right: 37%;
}
 
.logo img{
     height:11rem;
     object-fit:cover;
     margin:1rem 0;
}
 
.search .srch{
     height: 8%;
     background-color: #5e81cc;
     color: #d8dee9;
     border: none;
     border-radius: 100px;
     width: 60%;
     font-size: 1.4rem;
     padding: 16px;
}
 
.search .button2{
     border-radius: 100%;
     margin-left: 10px;
     padding: 10px;
     border: none;
     background-color: #bf616c;
}

.search{
     align-items: center;
     justify-content: center;
}
.srchbox{
     text-align: center;
     margin: auto;
     width: 60%;
}
 
.icons2{
     margin: auto;
     width: 50%;
     align-items: center;
     justify-content: center;
     text-align: center;
}
 
.button3{
     border: none;
     padding: 10px;
     border-radius: 50%;
     background-color: #d18677; 
}
 
.outputtext {
     position: relative;
     resize: none; /* Disable manual resizing of textarea */
     overflow: auto; /* Hide any overflowing text */
     height: auto; /* Set initial height to auto */
     min-height: 50px; /* Set minimum height */
     max-height: 350px; /* Set maximum height */
     width: 100%;
     border: none;  
     background-color: #5e81cc;
     color: #d8dee9;
     border-radius: 20px;
     padding: 15px;
     margin: auto;
}
.outputbox{
     position: relative;
     text-align: center;
     align-self: center;
     margin-left: 40px;
     margin-right: 70px;
     align-items: center;
}